.avaliacao {
    padding: 40px;
    margin: 0;
}

.avaliacao_box {
    background-color: var(--cor-de-fundo-login);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 70px 0;
    gap: 40px;
}

.avaliacao_box_p,
.foto,
.foto_usuario,
.foto_tf,
.foto_usuario p,
.foto_usuario img {
    background-color: inherit;
    /* Herda do .avaliacao_box */
}

.avaliacao_box_p {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px;
    text-align: center;
    color: var(--segunda-cor-fonte);
    border-radius: 20px;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.foto_tf {
    height: 83px;
    width: 80px;
}

.foto_usuario p {
    color: var(--terceira-cor-fonte);
}