.demo {
    padding: 0;
    margin-top: 60px;
    color: var(--primeira-cor-fonte);
}

.demo_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 40px;

}

.gif_dash {
    height: 18.75rem;
    width: 20rem;
    border-radius: 15px;
}

.demo_box_texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 40px;
    padding: 0 40px;
}

.demo_box_texto h1 {
    font-size: 40px;
}

.demo_box_texto_p {
    color: var(--teceira-cor-fonte);
    font-size: 18px;
}

.vejaAqui a {
    background-color: var(--cor-de-fundo-getstart);
    color: var(--segunda-cor-fonte);
    height: 50px;
    width: 175px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.vejaAqui a:hover {
    background-color: var(--primeira-cor-fonte);
    color: var(--segunda-cor-fonte);
}